{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Review Form</title>
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'review.css' %}">
</head>
<body>
<header class="list_header">
    <div>
        <a href="/" class="header_left">
            <span>my<strong>Movie</strong>reviews</span>
        </a>
        <a href="#" class="header_right">
            <span>Add a New review</span>
        </a>
    </div>
</header>
<hr>
<div class="form-container">
    <h2 class="form-title">Movie <strong>review</strong> 🍿</h2>
    <form action="{% if comment %}{% url 'comment:comment_update' comment.id %}{% else %}{% url 'comment:comment_create' %}{% endif %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn-save">Save</button>
</form>
</div>
</body>
</html>