{% extends 'base.html' %}

{% load static %}

{% block title %}아이디어 관리{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'list.css' %}">
{% endblock %}

{% block content %}
<section class="idea-list-header">
    <h1>Idea List</h1>
    <p>다양한 아이디어를 한 눈에 관리하고 기록하세요!</p>
</section>

<div class="sort-button">
    <button class="dropdown-btn">정렬 기준</button>
    <ul class="dropdown-menu">
        <li><a href="?sort=popularity">관심도순</a></li>
        <li><a href="?sort=newest">최신순</a></li>
        <li><a href="?sort=oldest">오래된순</a></li>
        <li><a href="?sort=name_asc">이름순</a></li>
        <li><a href="?sort=name_desc">이름역순</a></li>
    </ul>
</div>

<div class="idea-list">
    {% for idea in page_obj %}
    <a href="{% url 'ideas:idea_detail' idea.pk %}" class="idea-card">
        <div class="idea-image">
            {% if idea.image %}
                <img src="{{ idea.image.url }}" alt="{{ idea.title }} 이미지">
            {% else %}
                <img src="{% static 'ex_img.png' %}" alt="기본 이미지">
            {% endif %}
        </div>
        <div class="idea-content">
            <h2>{{ idea.title }}</h2>
            <p>예상 개발 툴: {{ idea.devtool }}</p>
            <p>아이디어 관심도: {{ idea.interest }}</p>
        </div>
    </a>
    {% empty %}
    <div class="empty-div">
        <p>첫번째 리뷰를 작성해주세요!</p>
    </div>
    {% endfor %}
</div>
<!-- 페이지네이션 -->
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">이전</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <strong>{{ num }}</strong>
        {% else %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">다음</a>
    {% endif %}
</div>
{% endblock %}
