{% extends 'base.html' %}

{% load static %}

{% block title %}DevTool 관리{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'tool_list.css' %}">
{% endblock %}

{% block content %}
<section class="idea-list-header">
    <h1>DevTool List</h1>
    <p>개발툴 목록 페이지 입니다. 자신이 선호하는 개발툴 목록을 확인해보세요.</p>
</section>

<div class="sort-button">
    <button class="dropdown-btn">정렬 기준</button>
    <ul class="dropdown-menu">
        <li><a href="?sort=popularity">관심도순</a></li>
        <li><a href="?sort=newest">최신순</a></li>
        <li><a href="?sort=oldest">오래된순</a></li>
        <li><a href="?sort=name_asc">이름순</a></li>
        <li><a href="?sort=name_desc">이름역순</a></li>
    </ul>
</div>

<div class="idea-list">
    {% for tool in tools %}
    <a href="{% url 'tools:tools_detail' tool.pk %}" class="idea-card">
        <div class="idea-content">
            <h2>{{ tool.name }}</h2>
            <p>예상 개발 툴: {{ tool.type }}</p>
            <p>아이디어 관심도: {{ tool.content }}</p>
        </div>
    </a>
    {% empty %}
    <div class="empty-div">
        <p>등록된 DevTool이 없습니다. 새로 추가해주세요!</p>
    </div>
    {% endfor %}
</div>

<!-- 페이지네이션 -->
{% comment %} <div class="pagination">
    {% if tool.has_previous %}
        <a href="?page={{ tool.previous_page_number }}">이전</a>
    {% endif %}
    {% for page in tool.paginator.page_range %}
        {% if page == tool.number %}
            <span>{{ page }}</span>
        {% else %}
            <a href="?page={{ page }}">{{ page }}</a>
        {% endif %}
    {% endfor %}
    {% if tool.has_next %}
        <a href="?page={{ tool.next_page_number }}">다음</a>
    {% endif %}
</div> {% endcomment %}
{% endblock %}
